@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}
:root {
  --brand-gradient: linear-gradient(135deg, #ff5722, #d81b7e, #7c3aed);
}

/* Custom Utilities */
.brand-gradient {
  background-image: var(--brand-gradient);
}

.brand-gradient-text {
  background-image: var(--brand-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}